SUBSYSTEMS=="usb",ATTRS{idProduct}=="c219",ATTRS{product}=="Logitech Cordless RumblePad 2",KERNEL=="js[0-9]*",SYMLINK+="idmind-joystick",GROUP="dialout"